body{
    margin:0;
    padding:0;
    background-image: url('images/background.jpg');    
    background-attachment: fixed;
    background-size: cover;

    font-family: Comic Sans MS;
}


header{      
    background: #650A66;
    box-shadow:  0px 7px 22px 0px rgba(0,0,0,1);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-bottom: 10em;
}
  
@media (max-width: 600px){
    header{
        flex-direction: column;
        align-items: flex-start;        
    }
}

header .header-right,
header .header-left{   
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;   
}

#logo{
    height: 5em;
}

.gif{
    position:fixed;
    bottom: 0em;
    right: 3em;
    z-index: 0;
    height: 20em;
  
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;      
    flex-direction: column;
    position: relative;
    top: 12em;
}


.character{
    background-color: #8E59D9;
    width: 50em;
    height: 20em;
    border: 20px solid hsla(299, 82%, 22%, .5);
    background-clip: padding-box;
    border-radius: 25px;
    margin-bottom: 6em;
    padding: 1em;    

    word-wrap: break-word;


}

.character .name{
    float: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    color: #D4C540;
}

.character .character-right{
     float: left;
}
.character .character-left{
    float: left;   
}


.character .photo{
    height: 15em;    
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 3px solid #650A66;
    border-radius: 5px;    
}

.character .info{   
    margin-top: 1em;
    margin-left: 3em;
}

.character .info p{   
    margin: 0;
    text-align: left;
    font-size: 3vh;
    color: #650A66;   
    display: block;
}


.episode{
    margin-top: 3em;
    font-size: 1.5em;
    text-decoration:none; 
    text-align:center;  
    color: #D4C540;
    background:#640a66; 
    border-radius:0px;
    border:2px solid #640a66;
    font-family: Comic Sans MS;
}


.episode:hover{
    background: #D4C540;
    color:#640a66; 
}

.episode:focus{
    float: bottom;
    outline: none;
}

/*
.character .character-left{
    order: 1;
    flex-grow: 2;
    width: min-content;     
}

.character .character-right{
    order: 2;
    flex-grow: 4;   
}

.character .name{
    float: center;
    margin-top: 0;
    font-size: 2em;
    color: #D4C540;   
    display: block;
    
}

.character .photo{
    height: 13em;    
    margin-left: 0em;
    border: 3px solid #650A66;
    border-radius: 5px;    
}

.character .info{   
    margin-top: 1em;
}

.character .info p{   
    margin: 0;
    font-size: 2.5vh;
    color: #650A66;   
    display: block;
}



.character:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }


.fas,
.far{
   margin-right: 0.5em;
}

/*

.character .photo{
    height: 10em;
    float: left;
    border: 3px solid #650A66;
    border-radius: 5px;
    display: block;
}

.character .name{
    float: center;
    margin-top: 0;
    font-size: 2em;
    color: #D4C540;
    float: left;
    display: block;
}

.character:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }
  */